<h1>Liste des Rubriques</h1>
<%= bootstrap_form_tag method: 'get' do %>
    <% Cour.order(:titre).each do |s| %>
        <%= check_box_tag("cours[]", s.id ) %>
        <%= s.titre %>
    <% end %>
    <%= submit_tag 'Appliquer' %>
<%end %>


<table>
  <thead>
    <tr>
      <th>Cour</th>
      <th>Titre</th>
      <th>Contenu</th>
      <th>Objectif</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rubriques.each do |rubrique| %>
      <tr>
        <td><%= link_to rubrique.cour.titre, rubrique.cour %></td>
        <td><%= rubrique.titre %></td>
        <td><%= rubrique.contenu %></td>
        <td><%= rubrique.objectif %></td>
        <td><%= link_to 'Voir', rubrique %></td>
        <td><%= link_to 'Éditer', edit_rubrique_path(rubrique) %></td>
        <td><%= link_to 'Supprimer', rubrique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle Rubrique', new_rubrique_path %>
