<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @rubrique.titre %>
</p>
<p>
  <strong>Cour:</strong>
  <%= @rubrique.cour.titre %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @rubrique.contenu %>
</p>
<p>
  <strong>Objectif:</strong>
  <%= @rubrique.objectif %>
</p>

<%= link_to 'Edit', edit_rubrique_path(@rubrique) %> |
<%= link_to 'Back', rubriques_path %>
