<%= bootstrap_form_for(@semestre, inline_errors: false) do |f| %>
  <% if @semestre.errors.any? %>
        <% flash[:error] = "Vérifiez les erreurs." %>
    <div id="error_explanation">
      <h2><%= pluralize(@semestre.errors.count, "error") %> prohibited this semestre from being saved:</h2>

      <ul>
      <% @semestre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :numero %>
  </div>
  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>
