
<h1>Liste des Semestres</h1>


<table class="table table-responsive table-hover table-bordered">
  <thead>
    <tr>
      <th>Semestre</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @semestres.each do |semestre| %>
      <tr>
        <td><%= semestre.numero %></td>
        <td><%= link_to 'Voir', semestre %></td>

        <td><%= link_to 'Éditer', edit_admin_semestre_path(semestre) %></td>
        <td><%= link_to 'Supprimer', [ :admin, semestre ], method: :delete, data: { confirm: 'Êtes-vous sur ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Semestre', new_admin_semestre_path %>
