
<h1>Liste des Semestres</h1>


<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semestres.each do |semestre| %>
      <tr>
        <td><%= semestre.numero %></td>
        <td><%= link_to 'Voir', semestre %></td>
        <td><%= link_to 'Éditer', edit_semestre_path(semestre) %></td>
        <td><%= link_to 'Supprimer', semestre, method: :delete, data: { confirm: 'Êtes-vous sur ?' } %></td>
        <td><%= link_to 'Voir les UEs', ues_from_semestre_path(semestre) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Semestre', new_semestre_path %>
