<div class="nested-fields">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><a data-toggle="collapse" href=""></a></h3>
  </div>
  <div class="panel-collapse collapse" id="" >
    <div class="panel-body">

<div class="field">
  <%= f.text_field :titre %>
</div>
<div class="field">
  <%= f.text_area :objectif %>
</div>
<div class="field">
  <%= f.text_area :contenu %>
</div>
<div class="field">
  <%= f.collection_select(:genre, Genre.all, :value, :value, label: 'Type') %>
</div>
<div class="field">
  <%= f.text_field :decoupage %>
</div>
<div class="field">
  <%= f.text_field :evaluation1 %>
</div>
<div class="field">
  <%= f.text_field :evaluation2 %>
</div>

<div class="field">
  <%= f.number_field :ects, label: "Crédits ECTS"%>
</div>

<div class="field">
  <%= f.number_field :coeff, :step => 0.01 %>
</div>
<div class="field">
  <%= f.text_area :bibliographie %>
</div>

<%= f.hidden_field :_destroy%>

<%= link_to_remove_association "Supprimer module", f, class: "btn btn-danger" %>
</div>
</div>
</div>
</div>
