<%= bootstrap_form_for([:admin ,@ue ], inline_errors: false) do |f| %>
  <% if @ue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ue.errors.count, "error") %> prohibited this ue from being saved:</h2>

      <ul>
      <% @ue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.collection_select(:semestre_id,  Semestre.all, :id, :numero) %>
    </div>

  <%= f.text_field :acronyme, help: "Ex: 'MAN', 'MOM', 'OSS', ..." %>

  <div class="field">
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.text_field :objectif %>
  </div>
  <div class="field">
    <%= f.select :lieu, ['Evry', 'Strasbourg', 'Evry + Strasbourg'] %>
  </div>
  <div class="field">
    <%= f.text_field :prerequis %>
  </div>

  <h3>Modules</h3>

   <div id="cours">
     <% @module_index = 0 %>
    <%= f.fields_for :cours do |builder| %>
       <%= render "cour_fields", :f => builder %>
       </br>
        <% @module_index += 1 %>
    <% end %>
  </div>

    <div class="links">
      <%= link_to_add_association 'Ajouter un module', f, :cours, class: "btn btn-success" %>
    </div>
    </br>

  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>
