<%= form_for(@cour) do |f| %>
  <% if @cour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cour.errors.count, "error") %> prohibited this cour from being saved:</h2>

      <ul>
      <% @cour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :ue_id %><br>
      <%= collection_select(:cour, :ue_id, Ue.all, :id, :titre) %>
    </div>
  <div class="field">
    <%= f.label :titre %><br>
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :objectif %><br>
    <%= f.text_area :objectif %>
  </div>
  <div class="field">
    <%= f.label :contenu %>
    <%= f.text_area :contenu %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
    <div class="field">
      <%= f.label :decoupage %><br>
      <%= f.text_field :decoupage %>
    </div>
    <div class="field">
      <%= f.label :evaluation1 %><br>
      <%= f.text_field :evaluation1 %>
    </div>
    <div class="field">
      <%= f.label :evaluation2 %><br>
      <%= f.text_field :evaluation2 %>
    </div>
    <div class="field">
      <%= f.label :coeff %><br>
      <%= f.text_field :coeff %>
    </div>
    <div class="field">
      <%= f.label :bibliographie %><br>
      <%= f.text_area :bibliographie %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
