<%= bootstrap_form_for(@cour, label_errors: true) do |f| %>
  <% if @cour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cour.errors.count, "error") %> prohibited this cour from being saved:</h2>

      <ul>
      <% @cour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.collection_select(:ue_id, Ue.all, :id, :titre) %>
    </div>
  <div class="field">
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.text_area :objectif %>
  </div>
  <div class="field">
    <%= f.text_area :contenu %>
  </div>
  <div class="field">
    <%= f.text_field :genre %>
  </div>
    <div class="field">
      <%= f.text_field :decoupage %>
    </div>
    <div class="field">
      <%= f.text_field :evaluation1 %>
    </div>
    <div class="field">
      <%= f.text_field :evaluation2 %>
    </div>

    <div class="field">
       <%= f.number_field :ects, label: "Crédits ECTS", :value => 0 %>
    </div>

    <div class="field">
      <%= f.number_field :coeff %>
    </div>
    <div class="field">
      <%= f.text_area :bibliographie %>
    </div>
  <div class="actions">
    <%= f.submit 'Valider' %>
  </div>
<% end %>
