<h1>Liste des Modules de l'UE <%= @ue.titre %></h1>

<table>
  <thead>
  <tr>
    <th>Titre</th>
    <th>Objectif</th>
    <th>Contenu</th>
    <th>Type</th>
    <th>Découpage</th>
    <th>Éval.1</th>
    <th>Éval.2</th>
    <th>Coefficient</th>
    <th>Crédits ECTS</th>
    <th>Bibliographie</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cours.each do |cour| %>
      <tr>
        <td><%= cour.titre %></td>
        <td><%= cour.objectif %></td>
        <td><%= cour.contenu %></td>
        <td><%= cour.genre %></td>
        <td><%= cour.decoupage %></td>
        <td><%= cour.evaluation1 %></td>
        <td><%= cour.evaluation2 %></td>
        <td><%= cour.coeff %></td>
        <td><%= cour.ects %></td>
        <td><%= cour.bibliographie %></td>
        <td><%= link_to 'Voir', cour %></td>
        <td><%= link_to 'Éditer', edit_cour_path(cour) %></td>
        <td><%= link_to 'Supprimer', cour, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Module', new_cour_path %>
<%= link_to 'Retour', ue_path(@ue) %>
