<p>
  <strong>Titre:</strong>
  <%= @cour.titre %>
</p>
<p>
  <strong>UE:</strong>
  <%= @cour.ue.titre %>
</p>

<p>
  <strong>Objectif:</strong>
  <%= @cour.objectif %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @cour.contenu %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cour.genre %>
</p>
<p>
  <strong>Découpage:</strong>
  <%= @cour.decoupage %>
</p>
<p>
  <strong>Évaluation 1:</strong>
  <%= @cour.evaluation1 %>
</p>
<p>
  <strong>Évaluation 2:</strong>
  <%= @cour.evaluation2 %>
</p>
<p>
  <strong>Coefficient:</strong>
  <%= @cour.coeff %>
</p>
<p>
  <strong>Crédits ECTS:</strong>
  <%= @cour.ects %>
</p>
<p>
  <strong>Bibliographie:</strong>
  <%= @cour.bibliographie %>
</p>


<%= link_to 'Éditer', edit_cour_path(@cour) %> |
<%= link_to 'Retour', cours_path %>
