<%= form_for(@ue) do |f| %>
  <% if @ue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ue.errors.count, "error") %> prohibited this ue from being saved:</h2>

      <ul>
      <% @ue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :semestre_id %>
      <%= collection_select(:ue, :semestre_id,  Semestre.all, :id, :numero) %>
    </div>

  <div class="field">
    <%= f.label :titre %><br>
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :objectif %><br>
    <%= f.text_field :objectif %>
  </div>
  <div class="field">
    <%= f.label :lieu %><br>
    <%= f.select :lieu, ['Evry', 'Strasbourg', 'Evry + Strasbourg'] %>
  </div>
  <div class="field">
    <%= f.label :prerequis %><br>
    <%= f.text_field :prerequis %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
