<h1>Liste des UEs</h1>
<%= bootstrap_form_tag method: 'get' do %>
    <% Semestre.order(:numero).each do |s| %>
        <%= check_box_tag("semestres[]", s.id ) %>
        <%= s.numero %>
    <% end %>
    <%= submit_tag 'Appliquer', class: "btn btn-default btn-sm" %>
<%end %>

<table>
  <thead>
    <tr>
      <th>Semestre</th>
      <th>Titre</th>
      <th>Objectif</th>
      <th>Prérequis</th>
      <th>Lieu</th>
      <th>ECTS de l'UE</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ues.each do |ue| %>
      <tr>
        <td><%= link_to ue.semestre.numero , ue.semestre, class: "btn btn-primary btn-sm"  %></td>
        <td><%= ue.titre %></td>
        <td><%= ue.objectif %></td>
        <td><%= ue.prerequis %></td>
        <td><%= ue.lieu %></td>
        <td><%= ue.ects_c %></td>
        <td><%= link_to 'Voir', ue, class: "btn btn-info btn-sm" %></td>
        <td><%= link_to 'Éditer', edit_ue_path(ue), class: "btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Supprimer', ue, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-danger btn-sm" %></td>
        <td><%= link_to 'Voir les modules', modules_from_ue_path(ue), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle UE', new_ue_path, class: "btn btn-success" %>
<%= link_to 'Retour', semestres_path, class: "btn btn-danger" %>
