<p id="notice"><%= notice %></p>

<h1>Listing Ues</h1>

<table>
  <thead>
    <tr>
      <th>Semestre</th>
      <th>Titre</th>
      <th>Objectif</th>
      <th>Lieu</th>
      <th>Prérequis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ues.each do |ue| %>
      <tr>
        <td><%= ue.semestre.numero %></td>
        <td><%= ue.titre %></td>
        <td><%= ue.objectif %></td>
        <td><%= ue.prerequis %></td>
        <td><%= ue.lieu %></td>
        <td><%= link_to 'Show', ue %></td>
        <td><%= link_to 'Edit', edit_ue_path(ue) %></td>
        <td><%= link_to 'Destroy', ue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ue', new_ue_path %>
