<p>
  <strong>Semestre:</strong>
  <%= @ue.semestre.numero %>
</p>
<p>
  <strong>Titre:</strong>
  <%= @ue.titre %>
</p>

<p>
  <strong>Objectif:</strong>
  <%= @ue.objectif %>
</p>



<p>
  <strong>Prérequis:</strong>
  <%= @ue.prerequis %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @ue.lieu %>
</p>

<p>
  <strong>ECTS de l'UE:</strong>
  <%= @ue.ects_c %>
</p>


<%= link_to 'Éditer', edit_ue_path(@ue) %> |
<%= link_to 'Retour', ues_path %>
