<p id="notice"><%= notice %></p>
<p>
  <strong>Semestre:</strong>
  <%= @ue.semestre.numero %>
</p>
<p>
  <strong>Titre:</strong>
  <%= @ue.titre %>
</p>

<p>
  <strong>Objectif:</strong>
  <%= @ue.objectif %>
</p>


<p>
  <strong>Lieu:</strong>
  <%= @ue.lieu %>
</p>
<p>
  <strong>Prérequis:</strong>
  <%= @ue.prerequis %>
</p>

<%= link_to 'Edit', edit_ue_path(@ue) %> |
<%= link_to 'Back', ues_path %>
