<div class="panel panel-success" id="form_panel">
  <div class="panel-heading">
    <button type="button" class="close" data-target="#form_panel" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span>
    </button>
    <h3 class="panel-title"><%= action_name == 'new' ? 'Nouveau ' : 'Edition de '  %>Semestre</h3>

  </div>
  <div class="panel panel-body">
    <%= bootstrap_form_for([:admin, @semestre], label_errors: true, remote: true) do |f| %>
       <div class="field">
         <%= f.text_field :numero , label: 'Semestre'%>
        </div>
       <%= f.collection_select(:year_id, Year.all, :id, :value, label: "Année") %>
       <div class="actions">
         <%= f.submit "Valider" %>
       </div>
    <% end %>
  </div>
</div>