<!DOCTYPE html>
<html>
<head>
  <title>AppliUe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
  <%= navbar container: 'fluid', inverse: true do %>
    <%= navbar_header brand: "Appli UE", brand_link: '/' %>
    <%= navbar_collapse do %>
      <%= navbar_group class: 'test', id: 'menu' do %>
          <%= navbar_text 'Choisissez une option:' %>
          <%= navbar_item "Accueil", root_url.to_s %>
          <%= navbar_item "Semestres", semestres_url.to_s %>
          <%= navbar_item "UEs", ues_url.to_s %>
          <%= navbar_item "Modules", cours_url.to_s %>
      <% end %>
      <%= navbar_group align: 'right' do %>
          <%= navbar_item "Admin", root_url.to_s %>
          <%= navbar_dropdown 'Autre' do %>
              <%= navbar_item 'À propos', page_url(:about).to_s %>
           <% end %>
      <% end %>
    <% end %>
  <% end %>
</header>




<body>
<div class="container">
 <%= flash_messages %>

 <%= yield %>
</div>
</body>
</html>
