<!DOCTYPE html>
<html>
<head>
  <title>AppliUe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>

<header>
  <%= navbar container: 'fluid', inverse: true do %>
    <%= navbar_header brand: "Appli UE", brand_link: '/' %>
    <%= navbar_collapse do %>
      <%= navbar_group class: 'test', id: 'menu' do %>
          <%= navbar_item "Accueil", root_url.to_s %>
          <%= navbar_item "Semestres", semestres_url.to_s %>
          <%= navbar_dropdown "Unités d'Enseignement (UE)" do %>
                  <li class="<%= index_ues_active('index', 'ues') %>">
                    <%= link_to 'Toutes', ues_path %>
                  </li>
                  <%= navbar_dropdown_divider %>
                  <%= navbar_text "Par semestre" %>
                      <% if not Semestre.year(@year).empty? %>
                        <% Semestre.year(@year).each do |s| %>
                            <li class="<%= is_active(:semestres, params, s.id, 'index', 'ues') %>" >
                              <%= link_to s.numero , ues_path(:semestres => [s.id]) %>
                            </li>
                        <% end %>
                      <% else %>
                        <%= navbar_text "Il n'y a pas de semestres" %>
                      <% end %>
           <% end %>
          <%= navbar_item "Modules", cours_url.to_s %>
      <% end %>
      <%= navbar_group align: 'right' do %>
            <%= navbar_text admin_signed_in? ? "Connecté : " + current_admin.email.to_s : "" %>
            <%= form_tag(set_year_path, {class: "navbar-form navbar-left", method: "get", remote: true}) do %>
                    <%= select_tag "year", options_from_collection_for_select(Year.all.order(:value), :id, :value, :selected => @year), class: "form-control" %>
                  <%= submit_tag "Valider", class:"btn btn-default", :name => nil %>
            <% end %>
          <% if admin_signed_in? %>
            <%= navbar_item "Admin", admin_path %>
          <% end %>
          <%= navbar_dropdown 'Autre' do %>
              <%= navbar_item 'À propos', page_url(:about).to_s %>
              <% if admin_signed_in? %>
                 <li class="list-item">
                   <a href="<%= destroy_admin_session_path%>" data-method="delete">Déconnexion</a>
                 </li>
              <% else %>
                  <%= navbar_item 'Connexion', new_admin_session_path %>
                  <%= navbar_item 'Inscription', new_admin_registration_path %>
              <% end %>
           <% end %>
      <% end %>
    <% end %>
  <% end %>
</header>




<body class="<%= controller_name %> <%= action_name %>" >
<div class="container-fluid">

  <%= flash_messages %>

  <div class="row">
    <% if content_for?(:filter_side) %>
      <div class="col-md-3">
        <%= yield :filter_side %>
      </div>
      <div class="col-md-9">
        <%= yield  %>
      </div>
    <% else %>
        <div class="col-md-10 col-md-offset-1">
          <%= yield %>
        </div>
    <% end %>
  </div>
</div>
</body>
</html>
